@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Regular.eot");
  src: url("../fonts/subset-Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/subset-Montserrat-Regular.woff") format("woff"), url("../fonts/subset-Montserrat-Regular.ttf") format("truetype"), url("../fonts/subset-Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Bold.eot");
  src: url("../fonts/subset-Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Montserrat-Bold.woff2") format("woff2"), url("../fonts/subset-Montserrat-Bold.woff") format("woff"), url("../fonts/subset-Montserrat-Bold.ttf") format("truetype"), url("../fonts/subset-Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.colored-wraper {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding-bottom: 60px;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.header {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}
.header__logo-mobile {
  display: none;
}
.header-adress {
  font-weight: 400;
}
.header__main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.header__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header__info-language {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 15px;
}
.header__info-language-item:first-child {
  margin-left: 0px;
}
.header__info-language-item-link {
  text-decoration: none;
  color: #FFFFFF;
}
.header__info-language-item-link:hover {
  background-color: #F0145A;
  border-radius: 8px;
  padding: 5px 7px;
}
.header__info-language-item-link--active {
  background-color: #F0145A;
  border-radius: 8px;
  padding: 5px 7px;
}
.header__info-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: disc;
}
.header__info-contacts-item {
  margin-left: 30px;
}
.header__info-contacts-item-image {
  display: flex;
  align-items: center;
}
.header__info-contacts-item-link {
  text-decoration: none;
  color: #FFFFFF;
}
.header__info-contacts-item-link:hover {
  background-color: #F0145A;
  border-radius: 8px;
  padding: 5px 7px;
}
.header__navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}
.header__navigation-item {
  margin-left: 15px;
}
.header__navigation-item-link {
  text-decoration: none;
  color: #FFFFFF;
}
.header__navigation-item-link:hover {
  background-color: #F0145A;
  border-radius: 8px;
  padding: 5px 7px;
}
.header__navigation-item-link--active {
  background-color: #F0145A;
  border-radius: 8px;
  padding: 5px 7px;
}
.header__navigation-menu-button {
  display: none;
}

.first-screen {
  height: 100vh;
  background-image: url(../images/Symbol.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-screen__button {
  height: 42px;
  width: 42px;
  border: 2px solid;
  border-color: #B3B3BA;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.first-screen__text {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
}

.colored-wraper-about {
  max-width: 1440px;
  margin: auto;
  padding-top: 60px;
}

.about {
  display: flex;
}
.about__list {
  width: 100%;
  max-width: 439px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  padding: 15px 60px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about__list-item:not(:last-child) {
  margin-bottom: 30px;
}
.about__list-item-link {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-decoration: none;
  color: #B3B3BA;
  text-align: right;
}
.about__list-item-link:hover {
  color: #F0145A;
}
.about__list-item-link--active {
  background-image: linear-gradient(to right, #EF8080 0%, #F0145A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__list-item-link--active:hover {
  background-image: none;
  color: linear-gradient(to left, #EF8080 0%, #F0145A 100%);
  -webkit-text-fill-color: #F0145A;
}
.about__body {
  flex-grow: 1;
  padding: 15px 0px 15px 60px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 2;
}
.about__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about__description {
  font-size: 19px;
  line-height: 30px;
}

.services {
  padding-top: 75px;
}
.services__nav {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #24A3FF;
  text-decoration: none;
}
.services__nav:hover {
  color: #F0145A;
}
.services__title {
  font-size: 38px;
  line-height: 42px;
  margin-top: 10px;
  font-weight: 700;
  background-image: linear-gradient(to left, #EF8080 0%, #F0145A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__cards-title {
  margin-top: 30px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  color: #24A3FF;
}
.services__cards-text {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 15px;
}
.services__cards-item {
  max-width: 494px;
  margin-top: 60px;
}

.team {
  max-width: 1600px;
  margin-top: 80px;
  background-color: #F5F5FA;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
}
.team__photo-img-large {
  display: none;
}
.team__info {
  padding: 30px;
}
.team__nav {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #24A3FF;
  text-decoration: none;
}
.team__nav:hover {
  color: #F0145A;
}
.team__text {
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  background-image: linear-gradient(to left, #EF8080 0%, #F0145A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.team__name {
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  font-weight: 700;
}
.team__position {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #B3B3BA;
  display: block;
  margin-top: 6px;
}

.swiper {
  width: 1600px;
  height: auto;
  padding-bottom: 30px;
}

@media (max-width: 1600px) {
  .contaner {
    width: auto;
  }

  .container-about {
    max-width: 1080px;
  }

  .services__cards-item {
    max-width: 400px;
  }

  .team {
    max-width: 1320px;
  }

  .swiper {
    width: 1320px;
  }
}
@media (max-width: 1440px) {
  .container-about {
    max-width: 924px;
    padding: 0 10px;
  }

  .services__cards-item {
    max-width: 261px;
  }

  .team {
    max-width: 904px;
  }
  .team__photo-img {
    display: none;
  }
  .team__photo-img-large {
    display: flex;
  }

  .swiper {
    width: 904px;
  }
}
@media (max-width: 1024px) {
  .header__main {
    flex-direction: column;
  }

  .header__logo {
    position: absolute;
    top: 105px;
  }

  .header__navigation-list {
    margin-top: 122px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .header__navigation-item:nth-child(2) {
    margin-left: 0px;
  }

  .header__info {
    justify-content: flex-start;
  }

  .container-about {
    max-width: 100%;
    padding: 0px;
  }

  .about {
    flex-direction: column;
  }
  .about__list {
    flex-direction: row;
    padding-right: 0px;
    border-right: none;
    max-width: 100%;
    overflow-x: scroll;
  }
  .about__list::-webkit-scrollbar {
    display: none;
  }
  .about__list-item {
    white-space: nowrap;
    margin-bottom: 60px;
  }
  .about__list-item:not(:last-child) {
    margin-right: 30px;
  }
  .about__list-item:first-child {
    margin-left: 20px;
  }
  .about__list-item:last-child {
    margin-bottom: 30px;
  }
  .about__body {
    margin-left: 20px;
    margin-right: 20px;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    padding-right: 0px;
    padding-left: 0px;
  }
  .about__title {
    padding-top: 60px;
  }

  .services__cards-item {
    max-width: 294px;
  }

  .team {
    max-width: 648px;
    flex-direction: column;
  }
  .team__photo-img {
    display: flex;
    width: 100%;
  }
  .team__photo-img-large {
    display: none;
  }

  .swiper {
    width: 648px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px;
  }

  .header {
    padding-top: 0px;
    flex-direction: column;
  }
  .header__logo {
    display: none;
  }
  .header__logo-mobile {
    display: block;
    width: 170px;
    position: absolute;
    top: 60px;
    margin-left: 15px;
  }
  .header__info {
    background-color: #F5F5FA33;
    background-blend-mode: saturation;
    padding: 15px 0px;
    justify-content: space-between;
  }
  .header__info-language {
    margin-left: 20px;
  }
  .header__info-language-item {
    margin-left: 15px;
  }
  .header__info-contacts {
    margin-right: 20px;
  }
  .header__info-contacts-facebook-mobile {
    display: none;
  }
  .header-adress {
    display: none;
  }
  .header__info-contacts {
    list-style: none;
  }
  .header__navigation-list {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header__navigation-item {
    display: none;
  }
  .header__navigation-menu-button {
    display: flex;
    margin-right: 15px;
    margin-top: 10px;
  }
  .header__navigation-menu-button:hover {
    background-color: #F0145A;
    border-radius: 8px;
  }
  .header__navigation-menu-button-img {
    display: flex;
    align-items: center;
  }

  .first-screen__text {
    width: 315px;
    padding: 0px 30px;
    text-align: center;
  }

  .services {
    padding: 0px 20px;
  }
  .services__title {
    font-size: 30px;
    line-height: 37px;
  }
  .services .services__cards-item {
    max-width: 315px;
  }

  .team {
    max-width: 315px;
    margin-top: 80px;
    flex-direction: column;
  }
  .team__photo-img {
    display: flex;
    width: 100%;
  }
  .team__photo-img-large {
    display: none;
  }
  .team__text {
    font-size: 30px;
    line-height: 37px;
  }

  .swiper {
    width: 315px;
  }
}

/*# sourceMappingURL=style.css.map */
