@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Regular.eot');
    src: url('../fonts/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Regular.woff') format('woff'),
        url('../fonts/subset-Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/subset-Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Bold.eot');
    src: url('../fonts/subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Bold.woff') format('woff'),
        url('../fonts/subset-Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/subset-Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
$font:'Montserrat', sans-serif;
$size-main: 16px;
$lh-main: 26px;
$size-regular: 19px;
$lh-regelar: 30px;
$weight-regular: 400;
$weight-bold: 700;

$main-color: #323264;
$main-color-alt: #46466E;
$main-color: #686887;
$basic-color: #000000;
$secondary-color: #FFFFFF;

$accent-color: #F0145A;

$active-color-regular: #24A3FF;
$active-color-hover: #0085FF;
$active-color-active: #006CCF;

$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;

$h1-size: 38px;
$h1-lh: 46px;
$h1-gradient: linear-gradient(to left, #EF8080 0%, #F0145A 100%);

// to right, #EF8080, #F0145A

body{
    font-family: $font;
    box-sizing: border-box;
}
.colored-wraper{
    background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    padding-bottom: 60px;
}

.container{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.header{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $secondary-color;
    font-size: $size-main;
    line-height: 26px;
    font-weight: $weight-bold;
    &__logo-mobile{
        display: none;
    }
    &-adress{
        font-weight: $weight-regular;
    }
    &__main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        &-language{
            display: flex;
            flex-direction: row;
            font-size: 12px;
            line-height: 15px;
            &-item{
                &:first-child{
                    margin-left: 0px;    
                    }
                &-link{
                    text-decoration: none;
                    color: $secondary-color;
                    &:hover{
                        background-color: $accent-color;
                        border-radius: 8px;
                        padding: 5px 7px;
                    }
                    &--active {
                        background-color: $accent-color;
                        border-radius: 8px;
                        padding: 5px 7px;
                    }
                }
            }
        }
        &-contacts{
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: disc;
            &-item{
                margin-left: 30px;
                &-image{
                    display: flex;
                    align-items: center;
                }
                &-link{
                    text-decoration: none;
                    color: $secondary-color;
                    &:hover{
                        background-color: $accent-color;
                        border-radius: 8px;
                        padding: 5px 7px;
                    }
                }
            }
        }
    }
   &__navigation-list{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
   } 
   &__navigation-item{
        margin-left: 15px;
        &-link{
            text-decoration: none;
            color: $secondary-color;
            &:hover{
                background-color: $accent-color;
                border-radius: 8px;
                padding: 5px 7px;
            }
            &--active {
                background-color: $accent-color;
                border-radius: 8px;
                padding: 5px 7px;
            }
        }
    }
    &__navigation-menu-button{
        display: none;
    }
}
.first-screen{
    height: 100vh;
    background-image: url(../images/Symbol.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__button{
        height: 42px;
        width: 42px;
        border: 2px solid;
        border-color: $grey-text;
        border-radius: 50%;
        display: flex;
        justify-content: center;   
    }
    &__text{
        margin-bottom: auto;
        margin-top: auto;
        font-weight: $weight-bold;
        font-size: 38px;
        line-height: 46px;
        color: $secondary-color;
    }
}
.colored-wraper-about{
    max-width: 1440px;
    margin: auto;
    padding-top: 60px;
}
.about{
    display: flex;
    &__list{
        width: 100%;
        max-width: 439px;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
        padding: 15px 60px 15px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-item{
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
        &-item-link{
            font-weight: $weight-bold;
            font-size: 38px;
            line-height: 46px;
            text-decoration: none;
            color: $grey-text; 
            text-align: right; 

            &:hover{
                color: $accent-color;
            }
            &--active{
                background-image: linear-gradient(to right, #EF8080 0%, #F0145A 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &:hover{
                    background-image: none;
                    color: $h1-gradient;
                    -webkit-text-fill-color: $accent-color;
                }
            }
        }
    }
    &__body{
        flex-grow: 1;
        padding: 15px 0px 15px 60px;
        color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 2;
    }
    &__title{
        font-size: 38px;
        line-height: 46px;
        font-weight: $weight-bold;
        margin-bottom: 30px;
    }
    &__description{
        font-size: $size-regular;
        line-height: $lh-regelar;
    }
}
.services{
    padding-top: 75px;
    &__nav{
        font-size: 14px;
        line-height: 17px;
        font-weight: $weight-bold;
        color: $active-color-regular;
        text-decoration: none;
        &:hover{
            color: $accent-color;
        }
    }
    &__title{
        font-size: 38px;
        line-height: 42px;
        margin-top: 10px;
        font-weight: $weight-bold;
        background-image: $h1-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &-title{
            margin-top: 30px;
            font-size: 22px;
            line-height: 27px;
            font-weight: $weight-bold;
            color: $active-color-regular;
        }
        &-text{
            font-size: $size-main;
            line-height: $lh-main;
            color: $secondary-color;
            font-weight: $weight-regular;
            margin-top: 15px;
        }
        &-item{
            max-width: 494px;
            margin-top: 60px;
            margin-left: 10px;
        }
    }
}
.team{
    max-width: 1600px;
    margin-top: 80px;
    background-color: $grey-bg;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    &__photo-img-large{
        display: none;
    }
    &__info{
        padding: 30px;
    }
    &__nav{
        font-size: 14px;
        line-height: 17px;
        font-weight: $weight-bold;
        color: $active-color-regular;
        text-decoration: none;
        &:hover{
            color: $accent-color;
        }
    }
    &__text{
        font-size: 38px;
        line-height: 42px;
        font-weight: $weight-bold;
        background-image: $h1-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
    }
    &__name{
        font-size: $size-main;
        line-height: 20px;
        color: $grey-text;
        font-weight: $weight-bold; 
    }
    &__position{
        font-size: 14px;
        line-height: 22px;
        font-weight: $weight-regular;
        color: $grey-text;
        display: block;
        margin-top: 6px;
    }
  }  
  .swiper {
    width: 1600px;
    height: auto;
    padding-bottom: 30px;
  }
  .clients{
    padding-top: 60px;
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
    &__title{
      text-transform: uppercase;
      font-size: 14px;
      line-height: 17px;
      font-weight: $weight-bold;
      letter-spacing: 1px;
      color: $main-color;
      text-align: center;
      margin-bottom: 30px;
    }
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0px;
    }
  }
  .publications{
    padding: 30px 0px;
    background-color: $grey-bg;
    &__nav{
        font-size: 14px;
        line-height: 17px;
        font-weight: $weight-bold;
        color: $active-color-regular;
        text-decoration: none;
        &:hover{
            color: $accent-color;
        }
    }
    &__title{
        font-size: 38px;
        line-height: 42px;
        margin-top: 10px;
        font-weight: $weight-bold;
        background-image: $h1-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
        &-info{
            padding: 30px;

        }
        &-image{
            width: 100%;
        }
        &-title{
            font-size: 16px;
            line-height: 20px;
            font-weight: $weight-bold;
            color: $active-color-regular;
        }
        &-date{
            display: block;
            margin-top: 15px;
            padding-bottom: 15px;
            font-size: 12px;
            line-height: 15px;
            font-weight: $weight-bold;
            color: $grey-text;
            text-transform: uppercase;
            border-bottom: 4px solid $grey-separator;
        }
        &-text{
            font-size: 14px;
            line-height: 22px;
            color: $basic-color;
            font-weight: $weight-regular;
            margin-top: 15px;
        }
        &-item{
            width: 513px;
            margin-top: 30px;
            margin-left: 20px;
            background-color: $secondary-color;
            &:first-child{
                margin-left: 0px;
            }
        }
    }
}
.footer{
    background-color: $grey-bg;
    padding-bottom: 40px;
    &__info{
        display: flex;
        flex-direction: column;
    }
    &__location{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;
    }
    &__contact{
        display: flex;
        flex-direction: row;
        align-items: center ;
        &-item{
            margin-right: 26px;
            &-link{
                text-decoration: none;
                color: $active-color-regular;
                font-weight: $weight-bold;
            }
        }
    }
    &__phone{
        font-size: 16px;
        line-height: 20px;
        color: $main-color;
        font-weight: $weight-bold;
    }
    &__adress{
        font-size: 16px;
        line-height: 20px;
        color: $main-color;
    }
    &__map{
        font-size: 12px;
        line-height: 15px;
        font-weight: $weight-bold;
        margin-left: 30px;
        &-link{
            text-decoration: none;
            color: $active-color-regular;
        } 
    }
    &__copyright{
        font-size: 16px;
        line-height: 20px;
        color: $grey-text;
    }
}
.container-footer{
    border-top: 2px solid $grey-separator;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media(max-width: 1719px){
    .contaner{
        width: auto;
    }
    .container-about{
        max-width: 1080px;
    }
    .services__cards-item{
        max-width: 400px;
    }
    .team{
        max-width: 1320px;
    }
    .swiper {
        width: 1320px;
      }
    .clients{
        min-width: 1440px;
        &__item-logo{
            width: 360px;
        }
    }
    .publications{
        &__cards-item{
            width: 420px;
        }
    }
}
@media(max-width: 1439px){
    .container-about{
        max-width: 924px;
        padding: 0 10px;
    }
    .services__cards-item{
         max-width: 261px;
    }
    .team{
        max-width: 904px;
        &__photo-img{
            display: none;
            &-large{
                display: flex;
            }
        }
    }
    .swiper {
        width: 904px;
      }
    .clients{
          min-width: 1024px;
        &__item-logo{
            width: 256px;
        }
    }
    .publications{
        &__cards{
            justify-content: center;
        }
        &__cards-item{
            width: 281px;
        }
    }
}
@media(max-width: 1023px){
    .header__main{
        flex-direction: column;
    }
    .header__logo{
        position: absolute;
        top: 105px;
    }
    
    .header__navigation-list{
        margin-top: 122px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .header__navigation-item{
        &:nth-child(2){
            margin-left: 0px;
        }  
    }
    .header__info{
        justify-content: flex-start;
    }
    .container-about{
        max-width: 100%;
        padding: 0px;
    }
    .about{
        flex-direction: column;
        &__list{
            flex-direction: row;
            padding-right: 0px;
            border-right: none;
            
            max-width: 100%;
            overflow-x: scroll;
            &::-webkit-scrollbar{
                display: none;
            }

            &-item{
                white-space: nowrap;
                margin-bottom: 60px;
                &:not(:last-child){
                    margin-right: 30px;
                }
                &:first-child{
                    margin-left: 20px;
                }
                &:last-child{
                    margin-bottom: 30px;
                }
            }
        }
        &__body{
            margin-left: 20px;
            margin-right: 20px;
            border-top: 4px solid rgba(255, 255, 255, 0.3);
            padding-right: 0px;
            padding-left: 0px;
        }
        &__title{
            padding-top: 60px;
        }
    }
    .services__cards-item{
        max-width: 294px;
   }
   .team{
    max-width: 648px;
    &__photo-img{
        display: flex;
        width: 100%; 
        &-large{
            display: none;  
        }
    }
    flex-direction: column;
   }
    .swiper {
        width: 648px;
    }
    .clients{
      min-width: 768px;
        &__item-logo{
        width: 256px;
        }
    }
    .publications{
        &__cards{
            justify-content: space-between;
            &-item{
             width: 305px;
             &:first-child{
                 margin-left: 0px;
             }
             &:last-child{
                width: 100%;
                margin-left: 0px;
            }
            }
        }
    }
}
@media(max-width: 767px){
    .container-header{
        max-width: 100%;
        padding: 0px;
    }
    .header{
        padding-top: 0px;
        flex-direction: column;
        &__logo{
            display: none;
            &-mobile{
                display: block;
                width: 170px;
                position: absolute;
                top: 60px;
                margin-left: 15px;
            }
        }
        &__info{
            background-color: #F5F5FA33;
            background-blend-mode: saturation;
            padding: 15px 0px;
            justify-content: space-between;
            &-language{
                margin-left: 20px;
                &-item{
                    margin-left: 15px;
                }
            }
            &-contacts{
                margin-right: 20px;
                &-facebook-mobile{
                    display: none;
                }
            }   
        }
        &-adress{
            display: none;
        }
        &__info-contacts{
            list-style: none;
        }
        &__navigation{
            &-list{
                margin-top: 0px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                // position: absolute;
            }
            &-item{
                display: none;
            }
            &-menu-button{
                display: flex;
                margin-right: 15px;
                margin-top: 10px;
                // position: relative;
                &:hover {
                    background-color: $accent-color;
                    border-radius: 8px;
                }
                // &:hover .header__navigation-list .header__navigation-item{
                //     display: block;
                // }
                &-img{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .first-screen__text{
        width: 315px;
        padding: 0px 30px;
        text-align: center;
    }
    .services{
        padding: 0px 20px;
        &__title{
            font-size: 30px;
            line-height: 37px;
        }
        .services__cards-item{
            max-width: 315px;
       }
    }
    .team{
        max-width: 315px;
        margin-top: 80px;
        &__photo-img{
            display: flex;
            width: 100%;
            &-large{
                display: none;
            }
        }
        flex-direction: column;
        &__text{
            font-size: 30px;
            line-height: 37px;
        }
       }
    .swiper {
        width: 315px;
      }
    .clients{
        min-width: 375px;
        &__item-logo{
            width: 375px;
        }
    }
    .publications{
        &__title{
            font-size: 30px;
            line-height: 37px;
        }
        &__cards{
            justify-content: center;
            &-item{
             width: 315px;
             margin-left: 0px;
             &:last-child{
                width: 315px;   
             }
            }
        }
    }
    .container{
     &-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    }
    .footer{
        &__location{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__contact{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-item{
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }
        &__map{
            margin-left: 0px;
            margin-top: 10px;
        }
        &__info{
            margin-bottom: 30px;
        }
    }
    
}


 






