@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Regular.eot');
    src: url('../fonts/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Regular.woff') format('woff'),
        url('../fonts/subset-Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/subset-Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Bold.eot');
    src: url('../fonts/subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Bold.woff') format('woff'),
        url('../fonts/subset-Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/subset-Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
$font:'Montserrat', sans-serif;
$size-main: 16px;
$lh-main: 26px;
$size-regular: 19px;
$lh-regelar: 30px;
$weight-regular: 400;
$weight-bold: 700;

$main-color: #323264;
$main-color-alt: #46466E;
$main-color: #686887;
$basic-color: #000000;
$secondary-color: #FFFFFF;

$accent-color: #F0145A;

$active-color-regular: #24A3FF;
$active-color-hover: #0085FF;
$active-color-active: #006CCF;

$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;

$h1-size: 38px;
$h1-lh: 46px;
$h1-gradient: linear-gradient(to right, #EF8080 0%, #F0145A 100%);

// to right, #EF8080, #F0145A

body{
    font-family: $font;
    box-sizing: border-box;
}
.colored-wraper{
    background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.container{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.header{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $secondary-color;
    font-size: $size-main;
    line-height: 26px;
    font-weight: $weight-bold;
    &-adress{
        font-weight: $weight-regular;
    }
    &__main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__info{
        display: flex;
        flex-direction: row;
        align-items: center;
        &-language{
            display: flex;
            flex-direction: row;
            font-size: 12px;
            line-height: 15px;
            &-item{
                margin-left: 15px;
                &-link{
                    text-decoration: none;
                    color: $secondary-color;
                    &:hover{
                        background-color: $accent-color;
                        border-radius: 8px;
                        padding: 5px 7px;
                    }
                    &--active {
                        background-color: $accent-color;
                        border-radius: 8px;
                        padding: 5px 7px;
                    }
                }
            }
        }
        &-contacts{
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: disc;
            &-item{
                margin-left: 30px;
                &-image{
                    display: flex;
                    align-items: center;
                }
                &-link{
                    text-decoration: none;
                    color: $secondary-color;
                    &:hover{
                        background-color: $accent-color;
                        border-radius: 8px;
                        padding: 5px 7px;
                    }
                }
            }
        }
    }
   &__navigation-list{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
   } 
   &__navigation-item{
        margin-left: 15px;
        &-link{
            text-decoration: none;
            color: $secondary-color;
            &:hover{
                background-color: $accent-color;
                border-radius: 8px;
                padding: 5px 7px;
            }
            &--active {
                background-color: $accent-color;
                border-radius: 8px;
                padding: 5px 7px;
            }
        }
    }
}
.first-screen{
    height: 100vh;
    background-image: url(../images/Symbol.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__button{
        height: 42px;
        width: 42px;
        border: 2px solid;
        border-color: $grey-text;
        border-radius: 50%;
        display: flex;
        justify-content: center;   
    }
    &__text{
        margin-bottom: auto;
        margin-top: auto;
        font-weight: $weight-bold;
        font-size: 38px;
        line-height: 46px;
        color: $secondary-color;
    }
}

.colored-wraper-about{
    max-width: 1440px;
    margin: auto;
    padding-top: 60px;
}
.about{
    display: flex;
    &__list{
        width: 100%;
        max-width: 439px;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
        padding: 15px 60px 15px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-item{
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
        &-item-link{
            font-weight: $weight-bold;
            font-size: 38px;
            line-height: 46px;
            text-decoration: none;
            color: $grey-text; 
            text-align: right; 

            &:hover{
                color: $accent-color;
            }
            &--active{
                background-image: $h1-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &:hover{
                    background-image: none;
                    color: $h1-gradient;
                    -webkit-text-fill-color: $accent-color;
                }
            }
        }
    }
    &__body{
        flex-grow: 1;
        padding: 15px 0px 15px 60px;
        color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 2;
    }
    &__title{
        font-size: 38px;
        line-height: 46px;
        font-weight: $weight-bold;
        margin-bottom: 30px;
    }
    &__description{
        font-size: $size-regular;
        line-height: $lh-regelar;
    }
}

@media(max-width: 1600px){
    .colored-wraper-about{
        max-width: 1080px;
    }
}

@media(max-width: 1440px){
        .container{
            max-width: 924px;
            padding: 0 10px;
        }
}
@media(max-width: 1024px){
    .container{
        max-width: 668px;
        &--tablet{
            max-width: 100%;
            padding: 0px;
        }
    }
    .header{
        flex-direction: column;
        &__logo{
            max-width: 130px;
        }
        &__main{
            order: -1;
        }
    }

    .about{
        flex-direction: column;
        &__list{
            flex-direction: row;
            padding-right: 0px;
            border-right: none;
            
            max-width: 100%;
            overflow-x: scroll;
            &::-webkit-scrollbar{
                display: none;
            }

            &-item{
                white-space: nowrap;
                margin-bottom: 60px;
                &:not(:last-child){
                    margin-right: 30px;
                }
                &:first-child{
                    margin-left: 60px;
                }
            }
        }
        &__body{
            margin-left: 60px;
            margin-right: 60px;
            border-top: 4px solid rgba(255, 255, 255, 0.3);
            padding-right: 0px;
            padding-left: 0px;
        }
        &__title{
            padding-top: 60px;
        }
    }
}

@media(max-width: 768px){
    .container{
        // max-width: 275px;
        padding: 0 10px;
    }
}
 






